services:
    app-php-cli:
        build:
            context: docker/dev/php-cli
        volumes:
            - ./:/app
        environment:
            - DB_USERNAME=${DB_USERNAME}
            - DB_DATABASE=${DB_DATABASE}
            - DB_PASSWORD=${DB_PASSWORD}
            - DB_HOST=${DB_HOST}
        depends_on:
            - db

    db:
        image: postgres:15
        ports:
            - "5432:5432"
        shm_size: 128mb
        environment:
            - POSTGRES_USER=${DB_USERNAME}
            - POSTGRES_DB=${DB_DATABASE}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        volumes:
            - db:/var/lib/postgresql/data

volumes:
    db:
